.vscode/**
.vscode-test/**
src/**
Viewers/**
node_modules/**
.gitignore
.gitmodules
package-lock.json
package.json
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
cacheDir/**
view.png